<div class="main_header">
    <div class="container">
      <div class="row">
        <div class="header_inner">
          <div class="header_left">
            <app-sidebar-toggle (toggle)="toggleBtn()"></app-sidebar-toggle>
            <!-- <span class="head">{{Head}}</span> -->
  
          </div>
          <div class="header_right">
            <!-- <div class="header_appBtn_wrapper">
              <button class="appBtn">
                <span class="appBtn_icon">
                  <img
                    width="25px"
                    height="25px"
                    src="../../../../assets/img/nav-icon.svg"
                  />
                </span>
              </button>
            </div> -->
            <!-- <div class="noti_wrapper"> -->
              <!-- <button class="noti_icon">
                <fa-icon [icon]="faBell"></fa-icon>
                <span class="noti_number">10</span>
              </button> -->
            <!-- </div> -->
            <div class="username_wrapper">
              <!-- <p class="username">{{name}}</p> -->
              <span class="user_arrow">
                <div
                class="initials"
                [matMenuTriggerFor]="menu" (click)="someMethod()"
  
              >
              <img
              style="border-radius: 50%;"
              width="30px"
              height="30px"
              src=""
            />
                <!-- {{ name.substring(0, 1) }} -->
              </div>
                <!-- <fa-icon [icon]="faChevronDown"  [matMenuTriggerFor]="menu"  ></fa-icon> -->
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="openLogout()">Log Out</button>
                
                  <!-- <button mat-menu-item>Item 2</button> -->
                </mat-menu>
              </span>
              <!-- <ng-template #logoutDialog>
                <p class="logout">Do you want to logout?</p>
                <div class="btn-optn d-flex">
                  <button disableRipple mat-raised-button class="btn" (click)="signOut()">Yes</button>
                  <span></span>
                  <button mat-raised-button class="btn" matDialogClose>No</button>
                </div>
              </ng-template> -->
            </div>
          </div>
        </div>
      </div>
    </div>
   