
<form [formGroup]="addNewSubjectForm" (ngSubmit)="onSubmitSubjectForm()">
    <div class="form-item-container">
        <div class="form-item">
            <div class="head">
                <span>SUBJECT/TOPIC NAME</span>
            </div>
            <div class="input">
                <input class="name" type="text" placeholder="Subject Name" formControlName="subjectName" />
            </div>
            <span class="text-danger" *ngIf="
            addNewSubjectForm.controls['subjectName'].hasError('required') &&
            addNewSubjectForm.controls['subjectName'].touched">
                Subject Name is required
            </span>
        </div>
    </div>
    <div class="form-item2">
        <div class="head">
            <span>Description</span>
        </div>
        <div class="input">
            <textarea cols="30" rows="30" class="textarea" type="text" formControlName="description"
                placeholder="Description"></textarea>
        </div>
        <span class="text-danger" *ngIf="
        addNewSubjectForm.controls['description'].hasError('required') &&
        addNewSubjectForm.controls['description'].touched">Description is required
        </span>
    </div>
    <div class="button-wrapper">
        <button 
            [disabled]=" !addNewSubjectForm.valid" 
            class="save-btn btn btn-success" type="submit">
            CREATE
        </button>
    </div>
</form>
