@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet');
:root{
    --mdc-theme-error: #B00020;
    --mdc-outlined-card-outline-width:2px;
}
.wrap-login{
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #EFEFEF;
    margin: 0 auto;
}
.container{
    background: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
    max-width: 768px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    height: calc(100% - (65px + 65px));
    justify-content: center;
    align-items: center;
}
.mat-form-field {
    background-color: #fff;
    width: 304px;
    height: 45px;
    border-radius: 6px;
    box-sizing: border-box;
    box-shadow: -11px 9px 21px rgba(173, 182, 217, 0.170884);
    margin-top: 10px;
    padding-left: 10px;
    line-height: 15px;
    padding-right: 10px;
}
.inputs{
    width: 245px;
    margin: auto;
    height: 300px;
}

.input-wrapper {
   width: 200px;
    label {
      display: block;
      text-transform: uppercase;
      color: #727373;
    //   font-size: 1rem;
    padding: 5px;
      font-family: sans-serif;
      font-weight: bolder;
    }

    input {
      width: 100%;
      height: 2rem;
      padding: 0.6rem 0.75rem;
      background: #ffffff;
      box-shadow: 0rem 0.5rem 4rem rgb(0 0 0 / 7%);
      border-radius: 0.3rem;
      border: 1px solid;
    }

    input::-webkit-input-placeholder {
      font-size: 0.75rem;
    }
  }
  * {
    font-family: 'Montserrat';
    font-style: normal;
    margin-top: 5px;
  }
  
  .main {
    height: 100%;
    overflow-x: hidden;
  
    .login-page-container {
      height: 100%;
      display: flex;
  
      .left {
        // background-image: url(../../../../assets/img/background_login.png);
        background-size: 100% 100%;
        width: 40%;
        height: 100%;
        position: relative;
  
        .left-inner {
          // border: 1px solid yellow;
          width: 45%;
          height: 50%;
          // backdrop-filter: blur(26.5086px);
          // border-radius: 30px;
          // transform: matrix(-1, 0, 0, 1, 0, 0);
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
        }
      }
  
      .right {
        width: 60%;
        height: 100%;
        background-color: #FFFFFF;
  
        .logo-container {
          width: 265px;
          margin: auto;
          height: 50px;
          margin-top: 20px;
          // border: 1px solid black;
          img {
            height: 100%;
          }
        }
        .tagline{
          text-align: center;
          width: 65%;
          margin: 20px auto ;
          font-weight: 300;
          font-size: 10px;
          line-height: 17px;
          color: #393939b1;
        }
  
        .description {
          border: 1.5px solid #38A3A5;
          width: 50%;
        //   height: 150px;
          margin: 200px auto;
  
          .head {
            margin: -14px 0px 0px 0px;
            text-align: center;
            .heading {
              font-weight: 550;
              font-size: 2vw;
              color: #393939;
              span{
                background-color: #FFFFFF;
                padding: 10px;
              }
            }
  
            .heading-description {
              margin-top: 20px;
              font-weight: 300;
              font-size: 1vw;
              color: #393939b1;
            }
          }
  
          .login-sso-btn {
            display: flex;
  
            .login-sso-button-container {
              margin: 10px auto;
  
              // width: 55%;
              // .line{
              //   width: 20%;
              //   height: 1px;
              //   background-color: #38A3A5;
              //   display: inline-flex;
              // }
              button {
                color: #FFFCFC;
                background: #38A3A5;
                border: none;
                /* box-shadow: 0px 10px 26px rgba(56, 163, 165, 0.25); */
                border-radius: 5px;
                padding: 10px 3vw;
                font-size: 13px;
                margin: auto;
                margin-left: 52px;
              }
            }
          }
        }
        .footer{
          position: absolute;
          width: 60%;
          display: flex;
          bottom: 10px;
          justify-content: center;
          font-weight: 300;
          font-size: 12px;
          color: #393939b1;
        }
      }
    }
  }
  @media(max-width:700px){
    .left{
      display: none;
    }
    .right{
      width: 100% !important;
    }
  }
  
  
  