<div class="sidebar-main-wrapper" id="sidebar-sroll-wrapper">
    <div class="sidebar-wrapper">
      <div class="sidebar-container">
       
  
        <!-- Dashboard | Emp Directory | Timesheet | Leave | LNSA | Assest Allocation -->
        <div class="sidebar-content-main-container">
          <ul class="sidebar-content">
            <li class="sidebar-nav-content" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <a routerLink="/teacher/dashboard">
                <span>
                  <img src="assets/img/group.svg" alt="Dashboard Logo" />
                </span>
                <p class="sidebar-title">Dashboard</p>
              </a>
            </li>
            
          </ul>
  
        </div>
      </div>
    </div>
  </div>
